.out
	min-width: 320px
	height: 100%
	overflow: hidden
	.ps__scrollbar-y-rail
		top: 0 !important
		bottom: 0 !important
	.ps__scrollbar-x-rail
		display: none !important
.inner
	@extend %inner
	position: relative
	+clr
	+sm
		padding: 0 10px
.perfomance
	.inner
		height: 100vh
		min-height: 450px
		+vertical
	&__button
		display: inline-block
		vertical-align: middle
		position: relative
		z-index: 10
		padding-top: 260px
		+lg
			padding-top: 290px
		+sm
			padding-top: 180px
.work
	.inner
		padding-top: 80px
		padding-bottom: 80px
.web
	position: relative 
	text-align: center
	+md-min
		&:before
			content: ''
			display: block
			position: absolute
			background: url(../img/lines-bg.png) no-repeat center
			background-size: cover
			top: 0
			right: 0
			left: 38px
			height: 1218px
			z-index: 2
	.inner
		padding-top: 120px
		padding-bottom: 112px
		z-index: 2
		+md-min
			height: 100vh
			min-height: 950px
			max-height: 1400px
		+md
			padding-top: 50px
			padding-bottom: 50px
.recl
	position: relative
	+md-min
		&:before
			content: ''
			display: block
			position: absolute
			background: url(../img/lines-bg.png) no-repeat center
			background-size: cover
			top: 0
			right: 0
			left: 38px
			height: 1218px
			z-index: 1
	.inner
		padding-top: 120px
		padding-bottom: 112px
		z-index: 4
		+md-min
			min-height: 900px 
		+md
			padding-top: 50px
			padding-bottom: 50px
.top-offers
	.inner
		padding-top: 110px
		padding-bottom: 110px
		+md
			padding-top: 50px
			padding-bottom: 50px
.description
	text-align: center
	.inner
		padding-top: 86px
		padding-bottom: 97px
		+md
			min-height: auto
			padding-top: 50px
			padding-bottom: 50px