.btn
	@extend %button
	color: #fff
	line-height: 1
	background-color: $blue
	+roboto-bold
	padding: 17px 19px
	font-size: 14px
	+hover
		background-color: lighten($blue, 10%)
	+active
		background-color: darken($blue, 5%)
.btn-primary
	@extend %button
	border: 4px solid $violet-top
	color: #fff
	line-height: 1
	background-color: transparent
	+panton-bold
	padding: 29px 101px
	font-size: 18px
	+lg
		padding: 26px 60px
	&:after
		content: ''
		display: block
		position: absolute
		left: -4px
		right: -4px
		top: 100%
		margin-top: -4px
		height: 10px
		border-bottom-left-radius: 8px
		border-bottom-right-radius: 8px
		background-color: $violet-top
	+hover
		top: 5px
		&:after
			display: none
	+active
		top: 5px
		&:after
			display: none
	&_blue
		background-color: $blue
		+hover
			background-color: lighten($blue, 5%)
		+active
			background-color: darken($blue, 5%)
.btn-secondary
	@extend %button
	line-height: 1
	color: #0ca8fd
	+css-lock(16, 20, 900, 1920)
	+robotomono-bold
	border: 2px solid #0ca8fd
	border-radius: 37px
	padding: 25px 70px
	overflow: hidden
	+hover
		border-color: #fb1d95
		.btn-secondary__in
			right: 0
	&__in
		position: absolute
		top: -2px
		bottom: -2px
		width: 100%
		top: 0
		right: 120%
		background-color: #fb1d95
		display: block
		transition: right 0.3s
	&__text
		position: relative
		z-index: 2
.btn-menu
	position: absolute
	top: 0
	bottom: 0
	left: 58px
	margin: auto
	width: 38px
	height: 32px
	background: none
	+vertical
	text-align: left
	transition: height 0.3s
	+sm
		left: 20px
	+xs
		width: 28px
		height: 20px
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		left: 0
		height: 4px
		width: 100%
		background-color: $blue-top
		+xs
			height: 2px
	&:before
		top: 0
	&:after
		bottom: 0
	span
		display: inline-block
		vertical-align: middle
		width: 12px
		height: 4px
		background-color: $blue-top
		transition: width 0.3s
		+xs
			height: 2px
.btn-main
	@extend %button-basic
	padding: 21px 17px
	min-width: 194px
	border: 2px solid white
	border-bottom-width: 6px
	border-radius: 5px
	+roboto-bold
	+css-lock(22, 30, 900, 1920)
	line-height: 1
	color: #fff
	background: transparent
	cursor: pointer
	+sm
		min-width: auto
		padding: 16px 40px
	&[disabled]
		cursor: not-allowed
		border-color: $disable
		color: $disable
	+hover
		&:not([disabled])
			top: 5px
			border-bottom-width: 2px
	+active
		&:not([disabled])
			top: 5px
			border-bottom-width: 2px
.btn-category
	@extend %button-basic
	min-width: 282px
	text-transform: lowercase
	+roboto-bold
	font-size: 30px
	line-height: 1
	color: rgba(#fff, 0.4)
	word-break: break-word
	background: transparent
	&.is-active
		color: rgba(#fff, 1)
		&:before
			width: 100%
		&:after
			height: 100%
	+hover
		color: rgba(#fff, 1)
		&:before
			width: 100%
		&:after
			height: 100%
	+sm
		margin-top: 40px
		min-width: 240px
		font-size: 22px
	+xs
		min-width: auto
		width: 100%
		margin-top: 20px
	&:before,
	&:after
		content: ''
		display: block
		position: absolute
		border-style: solid
		border-color: #fff
		transition: all 0.3s
		top: 0
		bottom: 0
		right: 0
		left: 0
	&:before
		width: 0
		border-width: 4px 0 4px 0
	&:after
		border-width: 0 4px 0 4px
		height: 0
	&:nth-of-type(even)
		+xs-min
			margin-left: 28px
	span
		position: relative
		z-index: 2
	&__inner
		border: 4px solid rgba(#fff, 0.4)
		padding: 26px 15px
		+sm
			padding: 20px
.btn-back
	@extend %button-basic
	font-size: 24px
	color: rgba(#fff, 0.4)
	+trans
	padding-left: 30px
	line-height: 1.4
	+sm
		font-size: 18px
		padding-left: 20px
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		transition: all 0.3s
		+arr(14, 20, rgba(#fff, 0.4), l)
		+sm
			+arr(10, 14, rgba(#fff, 0.4), l)
	+hover
		color: #fff
		&:before
			border-right-color: #fff
.btn-variation
	@extend %button
	background: transparent
	min-width: 162px
	padding: 10px 15px
	color: #fff
	border: 4px solid #fff
	+roboto-bold
	font-size: 24px
	line-height: 1
	text-transform: capitalize
	cursor: default
	+trans
	+sm
		font-size: 18px
		border: 0
		padding: 0
	+xs
		text-align: left
.btn-change
	@extend %button-basic
	font-size: 24px
	color: rgba(#fff, 0.4)
	+trans
	padding-right: 50px
	line-height: 1.4
	+sm
		font-size: 18px
		padding-right: 35px
	+hover
		color: #fff
		.icon
			fill: #fff
	.icon
		position: absolute
		top: 0
		right: 0
		bottom: 0
		margin: auto
		+trans
		+sm
			font-size: 16px