<!-- BEGIN popup-login__body -->
<div class="popup-login__body">
	<form action="/" method="POST" id="js-form-login" autocomplete="off">
		<div class="form__row">
			<div class="field">
				<input type="email" name="login" class="input" id="login-mail" placeholder="email">
			</div>
		</div>
		<div class="form__row">
			<div class="field">
				<input type="password" name="password" class="input" id="login-password" placeholder="пароль">
			</div>
		</div>
		<div class="form__bottom">
			<button type="button" class="btn-main js-submit">
				<span>Войти</span>
			</button>
		</div>
	</form>
</div>
<!-- END popup-login__body -->