{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
            <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js">
    <![endif]-->
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out {% if scrollbarOut %}{{scrollbarOut}}{% endif %}">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <div class="preloader js-preloader">
       <div class="preloader__canvas">
          <div class="element">
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
             <div class="element__object"></div>
          </div>
       </div>
    </div>
    
    {% if injectPopupsForPage %}
        {# popup-registration #}
        {% include "../partials/components/popup/popup-checkin/_popup-checkin.html" %}
        {# popup-login #}
        {% include "../partials/components/popup/popup-login/_popup-login.html" %}
        {# popup-offers #}
        {% include "../partials/components/popup/popup-offers/_popup-offers.html" %}
    {% endif %}
    
    <!-- BEGIN scripts -->
    <script src="js/app.js"></script>
    {% if addCapchaForPage %}
    <script src='https://www.google.com/recaptcha/api.js?hl=ru' async defer></script>
    {% endif %}
    <!-- END scripts -->

  </body>
</html>
