<!-- BEGIN description -->
<section class="description" id="description">
	
	<!-- BEGIN inner -->
	<div class="inner">
		<h2 class="title-secondary">Почитай, что о нас пишут!</h2>
		{# comments #}
		{% include "../components/_comments.html" %}
	</div>
	<!-- END inner -->

	{# brands #}
	{% include "../components/_brands.html" %}

	{# footer #}
	{% include "../components/_footer.html" %}

</section>
<!-- END description -->