<!-- BEGIN perfomance -->
<section class="perfomance js-parallax-section" id="perfomance">

	<!-- BEGIN inner -->
	<div class="inner">

		<!-- BEGIN parallax-bg -->
		<div class="parallax-bg">
			<div class="parallax-bg__item js-parallax-bg"></div>
		</div>
		<!-- END parallax-bg -->

		<!-- BEGIN parallax-company -->
		<div class="parallax-company">
			<div class="parallax-company__item js-parallax-company">
				<div class="company">
					<div class="company__pretitle">ЦЕНТР РЕАЛИЗАЦИИ</div>
					<div class="company__title">
						лидов
						<svg id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 516.6 131.7">
						    <style>
						        .st0{fill:url(#SVGID_1_)}.st1{fill:url(#SVGID_2_)}.st2{fill:url(#SVGID_3_)}.st3{fill:url(#SVGID_4_)}.st4{fill:url(#SVGID_5_)}
						    </style>
						    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" y1="38.999" x2="516.563" y2="38.999" gradientTransform="matrix(1 0 0 -1 0 95.6)">
						        <stop offset="0" stop-color="#7436ff"/>
						        <stop offset="1" stop-color="#9000ff"/>
						    </linearGradient>
						    <path class="st0" d="M93.7 8.4v94.2c0 4.6-1.5 6.1-6.1 6.1h-12c-4.6 0-6.1-1.5-6.1-6.1v-78H44.9v15.7c0 49.2-14.2 61.9-30 69.6-4.2 1.9-6.3 1.2-8.1-3L1 96.3c-2-4-1.2-6.1 3-8.2 7.5-3.9 17.1-10.6 17.1-47.5V8.4c0-4.6 1.5-6.1 6.1-6.1h60.3c4.7 0 6.2 1.5 6.2 6.1z"/>
						    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1=".023" y1="40.1" x2="516.586" y2="40.1" gradientTransform="matrix(1 0 0 -1 0 95.6)">
						        <stop offset="0" stop-color="#7436ff"/>
						        <stop offset="1" stop-color="#9000ff"/>
						    </linearGradient>
						    <path class="st1" d="M199.3 8.4v94.2c0 4.6-1.6 6.1-6.1 6.1h-12.1c-4.5 0-6.1-1.5-6.1-6.1v-34c0-17.4 1.4-21.6 4.8-36.3h-.9c-4.6 13-6.8 17.7-14.4 29.8l-27.4 43.8c-1.2 2.1-2.8 2.8-5.8 2.8h-13c-4.5 0-6.1-1.5-6.1-6.1V8.4c0-4.6 1.7-6.1 6.1-6.1h12.1c4.5 0 6.1 1.5 6.1 6.1v34c0 17.1-1 21.7-4.8 36.3h.9c4.6-13 7.2-18.4 14.7-30.6l27.1-43c1.2-1.9 2.7-2.8 5.9-2.8H193c4.6 0 6.3 1.5 6.3 6.1z"/>
						    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1=".023" y1="28.6" x2="516.586" y2="28.6" gradientTransform="matrix(1 0 0 -1 0 95.6)">
						        <stop offset="0" stop-color="#7436ff"/>
						        <stop offset="1" stop-color="#9000ff"/>
						    </linearGradient>
						    <path class="st2" d="M306.8 8.4v78h7.2c4.6 0 6.1 1.6 6.1 6.1v33c0 4.7-1.5 6.2-6.1 6.2h-11.7c-4.5 0-6-1.5-6-6.2v-16.8h-61.2v16.8c0 4.7-1.5 6.2-6 6.2h-11.7c-4.6 0-6.1-1.5-6.1-6.2v-33c0-4.5 1.5-6.1 6.1-6.1h2.9C227 81.6 233 71.9 233 40.5V8.4c0-4.6 1.5-6.1 6.1-6.1h61.6c4.6 0 6.1 1.5 6.1 6.1zm-50.2 31.9c0 22.9-3.2 36.9-8.1 46h34V24.6h-25.9v15.7z"/>
						    <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1=".023" y1="40.15" x2="516.586" y2="40.15" gradientTransform="matrix(1 0 0 -1 0 95.6)">
						        <stop offset="0" stop-color="#7436ff"/>
						        <stop offset="1" stop-color="#9000ff"/>
						    </linearGradient>
						    <path class="st3" d="M372.4 0c28.5 0 44.4 15.4 44.4 40.3v30.3c0 24.9-15.9 40.3-44.4 40.3-28.3 0-44.2-15.4-44.2-40.3V40.3C328.1 15.5 344 0 372.4 0zm0 22.4c-12.6 0-19.8 5.8-19.8 17.5v31.2c0 11.7 7.2 17.5 19.8 17.5 12.8 0 19.9-5.8 19.9-17.5V39.9c0-11.7-7.2-17.5-19.9-17.5z"/>
						    <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1=".023" y1="40.1" x2="516.586" y2="40.1" gradientTransform="matrix(1 0 0 -1 0 95.6)">
						        <stop offset="0" stop-color="#7436ff"/>
						        <stop offset="1" stop-color="#9000ff"/>
						    </linearGradient>
						    <path class="st4" d="M512.5 30.6c0 10.2-3 17.1-10.3 22.2v.6c9.1 3.9 14.4 12.6 14.4 25.8 0 19-15 29.5-35.4 29.5h-42.7c-4.5 0-6.2-1.5-6.2-6.1V8.4c0-4.6 1.7-6.1 6.2-6.1h42.1c19.9 0 31.9 10.2 31.9 28.3zm-35.7-6.7h-20.1v20.4h20.1c7 0 10.9-3.1 10.9-10.2 0-6.9-3.9-10.2-10.9-10.2zm2.8 41.5h-22.9v21.7h22.9c7.5 0 11.2-3.4 11.2-10.8.1-7.2-3.7-10.9-11.2-10.9z"/>
						</svg>

					</div>
				</div>
			</div>
		</div>
		<!-- END parallax-company -->

		<!-- BEGIN perfomance__button -->
		<div class="perfomance__button">
			<button type="button" class="btn-primary js-open-popup" data-link="registration">
				<span>НАЧАТЬ РАБОТУ</span>
			</button>
		</div>
		<!-- END perfomance__button -->

	</div>
	<!-- END inner -->

</section>
<!-- END perfomance -->