<!-- BEGIN top-offers -->
<section class="top-offers" id="top-offers">

	<!-- BEGIN inner -->
	<div class="inner">
		<div class="offer">
			<div class="offer__media">
				{{mixins.icon("donut")}}
			</div>
			<div class="offer__title">СОЧНЫЕ ОФФЕРЫ</div>
			<div class="offer__button">
				<button type="button" class="btn-primary js-open-popup" data-link="offers">
					<span>ОТКРЫТЬ ТОП</span>
				</button>
			</div>
		</div>
	</div>
	<!-- END inner -->

</section>
<!-- END top-offers -->