{% import '../../data/dataWebmastersList.html' as units %}
{% import '../../data/dataWebmasterPoints.html' as items %}

<!-- BEGIN web -->
<section class="web" id="web">

	<!-- BEGIN inner -->
	<div class="inner">
		
		<h2 class="title-primary glitch title-primary_centered" data-text="Вебмастерам">Вебмастерам</h2>

		<!-- BEGIN webmasters -->
		<div class="webmasters">
			<div class="webmasters__col">
				<ul class="list">
					{% for item in units.webmastersList.unit1 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>					
					{% endfor %}
				</ul>
			</div>
			<div class="webmasters__col">
				<ul class="list">
					{% for item in units.webmastersList.unit2 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="webmasters__col">
				<ul class="list">
					{% for item in units.webmastersList.unit3 %}
						<li class="list__item">
							<div class="list__item-icon">{{mixins.icon(item.icon)}}</div>
							<div class="list__item-text">
								{{item.text}}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- END webmasters -->

	</div>
	<!-- END inner -->

	<!-- BEGIN diagram-webmaster -->
	<div class="diagram-webmaster">
		<img src="img/diagrams/diagram-webmaster.png" alt="">
		<div class="points-wrp">
			{% for points in items.pointsWebmasterList %}
				<div class="{{points.pointClasses}}">
					<div class="{{points.boardClasses}}">
						<span>{{points.infoText}}</span>
						{{points.boardText}}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- END diagram-commercial -->

</section>
<!-- END web -->			
