{% import '../../data/dataAdvantagesList.html' as items %}

<!-- BEGIN work -->
<section class="work" id="work">

	<!-- BEGIN inner -->
	<div class="inner">
		
		<!-- BEGIN advantages-top -->
		<div class="advantages-top">
		
			<!-- BEGIN advantages-text -->
			<div class="advantages-text">
				<div class="advantages-text__title">Работая С Apilead</div>
				<div class="advantages-text__bottom">Ты получаешь широкий ряд преимуществ!</div>
			</div>
			<!-- END advantages-text -->

			<!-- BEGIN advantages-graph -->
			<div class="advantages-graph">
				<img src="img/diagram-work-small.png" alt="" class="advantages-graph__small">
				<img src="img/diagram-work-big.png" alt="" class="advantages-graph__big">
			</div>
			<!-- END advantages-graph -->

		</div>
		<!-- END advantages-top -->

		<!-- BEGIN advantages -->
		<div class="advantages">
			
			<!-- BEGIN advantages-list -->
			<ul class="advantages-list">
				
				{% for item in items.advantagesList %}

				<!-- BEGIN advantages-list__item -->
				<li class="advantages-list__item">
					<div class="unit">
						<div class="unit__media">
							<i class="{{item.icon}}"></i>
						</div>
						<div class="unit__descr">
							{{item.description}}
						</div>
					</div>
				</li>
				<!-- END advantages-list__item -->
				
				{% endfor %}

			</ul>
			<!-- END advantages-list -->

		</div>
		<!-- END advantages -->

	</div>
	<!-- END inner -->

</section>
<!-- END work -->